body{margin:0;padding:0;}

header{height:50px;background:black;}
.vp-url-form{padding:12px;width:400px;float:left;margin-left:20px;}
input,button{padding:5px;border-radius:3px;border:0;margin:0 5px;}
button{cursor:pointer;}
.vp-url-form form input:focus{outline:0;}
.vp-url-form form button{padding:5px 10px;}
.vp-customs{padding:12px;float:left;color:#fff;text-align:center;}
.vp-customs input[type="text"]{width:50px;text-align:center;}
.vp-controls{padding:12px;margin-right:2%;float:right;}

.vp-wrapper{position:fixed;background-color:grey;text-align:center;width:100%;top:3em;bottom:0;left:0;right:0;-webkit-transition: 0.3s ease-out;-moz-transition: 0.3s ease-out;-ms-transition: 0.3s ease-out;-o-transition: 0.3s ease-out;transition: 0.3s ease-out; }
.vp-viewport{border:1px solid #fff;margin:0 auto;height:100%;width:100%;max-width:100%;min-width:20%;}